<p>Hey {{ name }},</p>
<p>Please use the below one time password (OTP) to confirm your email at {{ appName }}</p>
<p>
    <h1 style="text-align: center;">{{ otp }}</h1>
</p>

<p>If you did not request this email you can safely ignore it.</p>

<p>Regards,</p>
<p>{{ appName }} Team</p>